@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .advantages__item {
        max-width: 220px;
    }
    
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .title_left {
        text-align: center;
    }
    .header {
        &__logo {
            width: 155px;
        }
        &__official {
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        padding: 21px 0 60px 0;
            &__wrapper {
                align-items: center;
            }
    }
    .advantages {
        &__wrapper {
            margin-top: 25px;
           flex-direction: column;
           align-items: center;
           justify-content: center;
        }
        &__item {
            max-width: 450px;
            margin-top: 30px;
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__descr {
            margin-top: 10px;
        }
    }
    .consultation {
       &__descr {
        text-align: center;
       }
    }
    .catalog {
        &__content {
            justify-content: center;
        }
    }
    .footer{
        &__info {
            width: 400px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 280px;
    }
    .title {
        text-align: center;
        font-size: 20px;
        line-height: 31px;
    }
    .header {
        height: 150px;
        flex-direction: column;
        &__contacts {
            align-items: center;
        }
        .button {
            font-size: 16px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 40px;
        }
        &__header {
            font-size: 20px;
            line-height: 20px;
        }
        &__subheader {
            margin-top: 10px;
            font-size: 12px;
            line-height: 12px;
        }
        &__icons {
            width: 100%;
            margin-top: 5px;
            flex-direction: column;
            align-items: center;
            img {
                margin-top: 20px;
                margin-bottom: 5px;
            }
        }
        .button {
            margin-top: 10px;
            width: 280px;
        }
    }
    .advantages {
        padding: 48px 0 40px 0;
        &__wrapper {
            margin-top: 0;
        }
    }
    .consultation {
        min-height: 622px;
        padding: 48px 0 60px 0;
       &__descr {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
       }
       .feed-form {
        width: 100%;
        input {
            height: 45px;
        }
       }
    }
    .carousel {
        display: none;
    }
    .catalog {
        margin-top: 30px;
        padding-bottom: 30px;
        &__tabs {
            margin-top: 10px;
        }
        &__tab {
            width: 220px;
            height: 30px;
            font-size: 8px;
            line-height: 31px;
        }
        &__content {
            margin-top: 25px;
        }
        &-item {
            min-width: 280px;
        }
    }
    .feed {
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            img {
                width: 169px;
                height: 169px;
                margin-right: 0;
            }
        }
        &__text {
            text-align: center;
        }
    }
    .footer{
        &__info {
            width: 320px;
            height: 175px;
            padding: 30px 38px 30px 38px;
        }
        &__addr {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 12px;
        }
        &__phone {
            font-size: 14px;
            line-height: 12px;
            margin-bottom: 14px;
        }
    }
}